<%- include("partials/header") %>

<h1>Welcome to Mini Facebook</h1>

<h2>Login</h2>
<form action="/login" method="post">
    ID: <input type="text" name="id" placeholder="id">
    Password: <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>

<h2>Create new Account</h2>
<form action="/register" method="post">
    ID: <input type="text" name="id" placeholder="id">
    Name: <input type="text" name="name" placeholder="Name">
    Password: <input type="password" name="password" placeholder="Password">
    Confirm Password: <input type="password" name="confirmPassword" placeholder="Password">
    <button type="submit">Create Account</button>
</form>

<form action="/reddit" method="get">
    <button type="submit">View Posts</button>
</form>

<%- include("partials/footer") %>